@media (max-width:550px) {
    main{
        text-align: center;
    }

    main .heading p{
        font-size: 3.5vw;
    }

    .images{
        align-items: center;
    }

    .box1{
        flex-direction: column;
    }

    .pic1{
        width: 400px;
    }

    .para-part .head h1{
        font-size: 9vw;
    }

    .para-part p{
        font-size: 3vw;
    }

    .head{
        width: 70%;
    }

    .para-part .head button{
        font-size: 2vw;
    }
}